if SHIELD_CHARYBDIS_CIRQUE_RIGHT

    config ZMK_KEYBOARD_NAME
        default "Blade"
    
    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y
        
 endif        
        
 if SHIELD_CHARYBDIS_CIRQUE_LEFT

    config ZMK_KEYBOARD_NAME
        default "Blade-slave"
    

endif

if SHIELD_CHARYBDIS_CIRQUE_LEFT || SHIELD_CHARYBDIS_CIRQUE_RIGHT

    config ZMK_SPLIT
        default y
    config ZMK_USB
        default y

endif
